<!DOCTYPE html>
<html>
  <head>
    <title>NewAuthDemo</title>
    <%= stylesheet_link_tag "application" %>

  </head>
  <body>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#new-auth-menu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "Bootstrap Demo", root_url, class: "navbar-brand" %>
      </div>
      <div class="collapse navbar-collapse" id="new-auth-menu">
        <ul class="nav navbar-nav nav-pills">
          <li><%= link_to "Home", root_url %></li>
          <li><%= link_to "Contact", contact_url %></li>
          <li><%= link_to "About", about_url %></li>
        </ul>
        <ul class="nav nav-navbar navbar-right nav-pills">
          <% if signed_in? %>
          <li>
            <button class="btn dropdown-toggle" type="button" id="user-dropdown" data-toggle="dropdown">
              Dropdown
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu nav-navbar">
              <li><%= link_to "Profile", user_url(current_user) %></li>
              <li><%= button_to "Sign Out", session_url, :method => :delete, class: "btn btn-primary" %></li>
            </ul>
          </li>

          <% else %>
            <li class="active"><%= link_to "Sign In", '#', data: { toggle: "modal", target: "#myModal" } %></li>
            <li><%= link_to "Sign up", new_user_url %></li>
          <% end %>
        </ul>
      </div>
      </div>
    </nav>
    <div class="container">

      <% if flash[:notice] %>
        <div class="alert alert-info">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
    <%= render 'layouts/modal' %>
    <% if flash[:errors] %>
      <script>
      $('#myModal').modal({show: true});
      </script>
    <% end %>
  </body>
</html>
